#footer-container {
  position: fixed;
  height: 5vh;
  width: 100%;
  background-color: #DC4E41;
  bottom: 0;
}

#footer {
  color: white;
  margin-left: 50%;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer .icon {
  font-size: 30px;
  border-left: 1px solid white;
  margin: 0.7vh 0;
  padding: 0px 15px;
}

#footer a:first-child .icon {
  border: none;
}

#footer .icon:hover {
  color: black;
  cursor: pointer;
}

#footer p{
  font-size: 15px;
  font-weight: bold;
}
