#login-title {
  font-size: 40px;
  color: white;
  font-weight: bold;
  margin-right: 75px;
}

#login-container {
  /*background-color: rgba(0,0,0,0.2);*/
  position: relative;
  top: 41em;
  left: 14em;
  width: 400px;
}

#login-tagline {
  color: #DC4E41;
  font-weight: bold;
  font-size: 20px;
}

#g-signin2 {
  margin-left: 80px;
}
