$pumpkin-orange: #FDAC3A;
$slate-gray: #40474E;

#job-posting-detail {
  background-color: $slate-gray;
  color: white;
  padding: 2em 2em 1em 2.2em;
  width: 45%;
  height: 89vh;
  position: fixed;
  right: 0;
  .source-logo {
    margin-left: 15px;
  }
  .source-image {
    height: 20px;
  }
  .activity {
    margin-left: 15px;
  }
}

.detail-title {
  font-size: medium;
  color: $pumpkin-orange;
  font-weight: bold;
}

.detail-company {
  font-weight: bold;
  display: left;
}

.detail-link-img {
  width: 50px;
}

.detail-description {
  -webkit-margin-before: 1.5em;
  -webkit-margin-after: 0em;
  height: 70%;
  overflow: auto;
  margin-bottom: 20px;
}
