#job-postings-index {
  padding: 15px 0 21px 0;
  width: 55%;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  height: 89vh;
  overflow: hidden;
}

#page-info {
  color: white;
  text-align: center;
  // font-weight: bold;
}
