#job-posting-detail {
  background-color: #40474E;
  color: white;
  padding: 2em 2em 1em 2.2em;
  width: 45%;
  height: 89vh;
  position: fixed;
  right: 0;
}

.detail-title {
  font-size: medium;
  color: #FDAC3A;
  font-weight: bold;
}

.detail-company {
  font-weight: bold;
  display: left;
}

.detail-link-img {
  width: 50px;
}

.detail-description {
  -webkit-margin-before: 1.5em;
  -webkit-margin-after: 0em;
  height: 70%;
  overflow: auto;
  margin-bottom: 20px;
}

#job-posting-detail .source-logo {
  margin-left: 15px;
}

#job-posting-detail .source-image {
  height: 20px;
}
#job-posting-detail .activity {
  margin-left: 15px;
}
