#job-posting-detail {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.7);
  box-shadow: rgba(0,0,0,.05) 0 1px 3px 0;
  border-radius: 10px;
  color: white;
  padding: 2em 1em 1em 2.2em;
}

.detail-title {
  font-size: medium;
  color: #FF9A6A;
}

.detail-company {
  font-weight: bold;
}

.detail-link-img {
  width: 50px;
}

.detail-description {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  height: 400px;
  overflow: auto;
  margin-bottom: 20px;
}
