#job-postings-index {
  padding: 15px 0 21px 0;
  width: 55%;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  height: 89vh;
  overflow: hidden;
}


.chevron {
  font-size: 200px;
  color: white;
  padding: 0px;
  margin-top: 60%;
}

.fa-angle-left:hover {
  cursor: pointer;
  color: #FB8456;
}

.fa-angle-right:hover {
  cursor: pointer;
  color: #FB8456;
}

.navigation {
  position: fixed;
  z-index: 10;
  top: 50vh;
}

#page-info {
  color: white;
  text-align: center;
  font-weight: bold;
}
