#job-postings-index {
  margin-bottom: 20px;
  padding-top: 15px;
  background-color: rgba(0,0,0,0.7);
  box-shadow: rgba(0,0,0,.05) 0 1px 3px 0;
  border-radius: 10px;
  display: inline-block;
}

#index-container {
  padding: 20px 0px;
}

.chevron {
  font-size: 200px;
  color: white;
  padding: 0px;
  margin-top: 60%;
}

.fa-angle-left:hover {
  cursor: pointer;
  color: #FB8456;
}

.fa-angle-right:hover {
  cursor: pointer;
  color: #FB8456;
}

#page-info {
  color: white;
  text-align: center;
  font-weight: bold;
}
