.job-postings-item {
  border-bottom: 1px solid rgba(208, 213, 216, 0.3);
  padding: 1em 1em 1.5em 2.2em;
  color: white;
  position: relative;
}

.job-postings-item:hover {
  cursor: pointer;
  background-color: rgba(0,151,207,0.2);
}

.job-postings-item .title {
  font-size: medium;
  color: #62BEFF;
}

.job-postings-item .company {
  font-weight: bold;
  display: left;
}

.job-postings-item .activity {
  float: right;
  text-align: right;
}

.job-postings-item .location {
  margin-left: 15px;
}

.job-postings-item .source-logo {
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.remove-button-features:hover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.remove-button-features:active {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  -webkit-box-shadow: none;
}

.remove-button-features:active:hover {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.job-postings-item .source-image {
  height: 20px;
}
